#canvas:-webkit-full-screen{
width : 100%; 
height : 100%;
}

body{
	background: url('images/background3.jpg');
    height: 100%;
	width: 100%;
}

button{
	margin-top:25px;
	margin-bottom:5px;
}

input{
	margin-top:5px;
	margin-bottom:5px;
}

label{
	margin-top:13px;
	color:white;
	text-shadow:2px 2px 10px black;
}

#divCanvas{
position: relative;
}

#divCanvas > img{
position: absolute;
}

#canvas{
    position: absolute;
	margin: 0 auto;
	top:40px;
	left: 40px;
	width: 343px;
    height: 245px;
}

#listeFichiers > li{
	float:left;
	margin-left:5px;
	width:100px;
	height:100px;
	padding:0;
}

li img{
	height:100px;
	width:100px;
	float:left;
	margin-left:5px;
}

#listeFichiers{
	list-style-type:none;
	padding: 0px;
    margin: 0px;
}

#divMenuDroite, #divMenuGauche{
	margin-top:0px;
}

#html_btn {
 display:none;
}

#my_video{
	margin-top: 20px;
}