button{
	margin-top:25px;
	margin-bottom:5px;
}

input{
	margin-top:5px;
	margin-bottom:5px;
}

label{
	margin-top:13px;
	color:white;
	text-shadow:2px 2px 10px black;
}

#canvas{
	margin: 0 auto;
}

#listeFichiers > li{
	float:left;
	margin-left:5px;
	width:100px;
	height:100px;
}

li img{
	height:100px;
	width:100px;
	float:left;
	margin-left:5px;
}

#listeFichiers{
	list-style-type:none;
}

#divMenuDroite, #divMenuGauche{
	margin-top:20px;
}