#canvas:-webkit-full-screen{
width : 100%; 
height : 100%;
}

h1{
	margin-bottom: 30px;
	font:50px "Lucida Calligraphy";
	font-weight:bold;
	color:aqua;
	text-shadow:-15px 10px 3px maroon;
}

body{
	background: url('images/background3.jpg');
	height:100%;
	width:100%;
}

button{
	margin-top:15px;
	margin-bottom:5px;
}

input{
	margin-top:5px;
	margin-bottom:5px;
}

label{
	margin-top:13px;
	color:white;
	text-shadow:-3px 3px 3px maroon;
}

#divCanvas{
position: relative;
}

#divCanvas > img{
position: absolute;
}

#canvas{
    position: absolute;
	margin: 0 auto;
	top:40px;
	left: 40px;
	width: 343px;
    height: 245px;
}

#listeFichiers > li{
	float:left;
	margin-left:5px;
	width:100px;
	height:100px;
	padding:0;
}

li img{
	height:100px;
	width:100px;
	float:left;
	margin-left:5px;
}

#listeFichiers{
	list-style-type:none;
	padding: 0px;
    margin: 0px;
}

#divMenuDroite{
	margin-top:20px;
}

#divMenuGauche{
	margin-top:50px;
}

#html_btn {
 display:none;
}

#my_video{
	margin-top: 20px;
}

@media screen and (max-width:1200px){
	#canvas{
		position: relative;
		margin: 15px auto;
		top:0px;
		left:0px;
	}
	
	h1{
		margin-bottom: 0px;
	}
	#divMenuGauche{
		margin-top:10px;
	}
	#divListePhotos{
		margin-top:10px;
	}
}